In [56]:
import pandas as pd

In [57]:
df = pd.read_csv("/Users/luiseduardocatan/Github Repository/FinanzasDatos/datos/exercise_datetime.csv")

In [48]:
df.dtypes

Unnamed: 0      int64
TagName        object
Value         float64
DateTime       object
dtype: object

In [49]:
df['DateTime'] = df['DateTime'].str.replace('Z', '')

In [50]:
df['DateTime'] = df['DateTime'].apply(lambda x: x + '.000' if len(x) == 19 else x)

In [51]:
df.dtypes

Unnamed: 0      int64
TagName        object
Value         float64
DateTime       object
dtype: object

In [52]:
df.head(3)

,Unnamed: 0,TagName,Value,DateTime
0,0,EAE_Business_School.ValueTarget,10.468952,2023-01-01 00:00:00.000
1,1,EAE_Business_School.ValueTarget,14.029077,2023-01-01 00:59:00.152
2,2,EAE_Business_School.ValueTarget,12.677625,2023-01-01 01:58:00.151

In [53]:
df['DateTime'] = pd.to_datetime(df['DateTime'], errors='coerce')

In [54]:
df.dtypes

Unnamed: 0             int64
TagName               object
Value                float64
DateTime      datetime64[ns]
dtype: object

In [55]:
df['DateTime']

0        2023-01-01 00:00:00.000
1        2023-01-01 00:59:00.152
2        2023-01-01 01:58:00.151
3        2023-01-01 02:57:00.663
4        2023-01-01 03:56:00.387
                   ...
212072   2023-12-30 21:12:00.849
212073   2023-12-30 21:54:00.000
212074   2023-12-30 22:36:00.000
212075   2023-12-30 23:18:00.477
212076   2023-12-31 00:00:00.769
Name: DateTime, Length: 212077, dtype: datetime64[ns]